### 011 변수 사용하기
##### 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [5]:
shcode_price=50000
share=10
amount=share*shcode_price
print(amount)

500000

### 012 변수 사용하기
##### 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">항목</th>
    <th class="tg-0lax">값</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">시가총액</td>
    <td class="tg-0lax">298조</td>
  </tr>
  <tr>
    <td class="tg-0lax">현재가</td>
    <td class="tg-0lax">50,000원</td>
  </tr>
  <tr>
    <td class="tg-0lax">PER</td>
    <td class="tg-0lax">15.79</td>
  </tr>
</tbody>
</table>

In [17]:
market_cap=298e+12
current_price=50000
per=15.79

298000000000000 50000 15.79

### 013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

1. s = "hello"
2. t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [7]:
s='hello'
t='python'
print(f"{s}!{t}")

hello!python

### 014 파이썬을 이용한 값 계산
##### 아래 코드의 실행 결과를 출력해보세요.

>2 + 2 * 3

In [8]:
print(2+2*3)

8

### 015 type 함수

##### 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

In [9]:
a="132"
print(type(a))

<class 'str'>

### 016 문자열을 정수로 변환
##### 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [14]:
num_str="720"
num_str=int(num_str)
print(type(num_str))

<class 'str'>

### 017 정수를 문자열 100으로 변환
##### 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [1]:
num=100
num=str(num)
print(type(num))

<class 'str'>

### 018 문자열을 실수로 변환
##### 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [16]:
num="15.79"
num=float(num)
print(type(num))

<class 'float'>

### 019 문자열을 정수로 변환
##### year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [19]:
year="2020"
year=int(year)

for i in range(3):
    print(f"{year-i} ",end='')

2020 2019 2018

### 020 파이썬 계산
##### 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [25]:
installment=48584
duration=36
total=installment*duration
total=format(total,',') #3자리마다 콤마 삽입
print(total)
print(f"총 금액 {total}원")

1,749,024
총 금액 1,749,024원