### 081 별 표현식


##### 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.


##### 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

In [1]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,a,b=scores
valid_score
##############
#코드를 적어주세요


##############

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

### 082
##### 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

In [2]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*valid_score=scores
valid_score
##############
#코드를 적어주세요


##############

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

### 083
##### 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

In [3]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,*valid_score,b=scores
valid_score
##############
#코드를 적어주세요


##############

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

### 084 비어있는 딕셔너리
##### temp 이름의 비어있는 딕셔너리를 만들라.

In [6]:
temp={}
type(temp)

dict

### 085
##### 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

메로나 : 1000원

폴라포 : 1200원

빵빠레 : 1800원

In [19]:
icecream={'메로나':1000,'폴라포':1200,'빵빠레':1800}
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

### 086
##### 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

죠스바 : 1200 원

월드콘 : 1500 원

In [20]:
icecream["죠스바"]=1200; icecream["월드콘"]=1500
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 087
##### 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

In [21]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']
##############
#코드를 적어주세요


##############

1000

### 088
##### 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

In [23]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
ice['메로나']



##############
#코드를 적어주세요


##############

1300

### 089
##### 다음 딕셔너리에서 메로나를 삭제하라.

In [24]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
ice
##############
#코드를 적어주세요


##############

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 090
##### 다음 코드에서 에러가 발생한 원인을 설명하라.

In [15]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
#key값에 없는 value를 출력

KeyError: '누가바'

### 091 딕셔너리 생성
##### 아래의 아이스크림 가격에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

메로나 : 300원, 재고 : 20개

비비빅 : 400원, 재고 : 3개

죠스바 : 250원, 재고 : 100개

In [17]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
##############
#코드를 적어주세요


##############

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

### 092 딕셔너리 인덱싱
##### inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

In [28]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory.get("메로나")[0]
##############
#코드를 적어주세요


##############]

300

### 093 딕셔너리 인덱싱
##### inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

In [29]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory.get("메로나")[1]

##############
#코드를 적어주세요


##############

20

### 094 딕셔너리 추가
##### inventory 딕셔너리에 아래 데이터를 추가하라.
월드콘 : 500원 7개

In [30]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"]=[500,7]
inventory

##############
#코드를 적어주세요


##############

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

### 095 딕셔너리 keys() 메서드
##### 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

In [33]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
key_list=icecream.keys()
key_list
##############
#코드를 적어주세요


##############

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

### 096 딕셔너리 values() 메서드
##### 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

In [34]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
key_list=icecream.values()
key_list
##############
#코드를 적어주세요


##############

dict_values([1200, 1200, 1800, 1500, 1000])

### 097 딕셔너리 values() 메서드
##### icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [39]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
value_list=icecream.values()
total=sum(value_list)
total
##############
#코드를 적어주세요


##############

6700

### 098 딕셔너리 update 메서드
##### 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

In [42]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
icecream
##############
#코드를 적어주세요


##############

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

### 099 zip과 dict
##### 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

In [44]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result=(keys:   vals)
result

##############
#코드를 적어주세요


##############

SyntaxError: invalid syntax (370771550.py, line 3)

### 100 zip과 dict
##### date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

In [35]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

##############
#코드를 적어주세요


##############

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}