# Ex2 - 데이터의 Filtering과 Sorting

### Step 1. 필요한 라이브러리 import

In [9]:
import pandas as pd
import numpy as np

### Step 2.  데이터셋 다운로드.

1. [주소](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) 이동


2. `Ctrl + S` 로 다운로드


3. 파일 이름 뒤쪽의 .txt 지우기


4. 파일 위치는 현재 파일(Exercises_with_solutions.ipynb)와 같은 곳으로

### Step 3. `chipo` 변수에 dataframe 저장하기

In [10]:
chipo = pd.read_csv('./chipotle.tsv',sep='\t')
chipo
#urlretrieve('url-adress')
#https://seong6496.tistory.com/242

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. 가격(item_price)이 $10.00 이상인 데이터만 걸러내기

In [11]:
# 새로운 변수에 item_price 열을 정리하고 float로 변환합니다
prices =  chipo['item_price'].str[1:].astype(float)
#https://seong6496.tistory.com/242
#https://rfriend.tistory.com/470

# chipo의 item_price를 위 prices 변수로 치환합니다
chipo.item_price = prices


# 'item_name', 'quantity', 'choice_description'의 중복을 제거하여 새로운 변수에 저장합니다.
chipo_filtered = chipo.drop_duplicates(subset=['item_name', 'quantity', 'choice_description'])
print(chipo_filtered)
# `chipo_filtered` 변수의 'quantity' 가 1인 데이터만 추려 새로운 변수에 저장합니다.
chipo_one_prod = chipo_filtered[chipo_filtered.quantity==1]
#chipo_one_prod


# 마지막으로 'chipo_one_prod'를 이용하여 item_price가 10달러 이상인 데이터를 걸러 봅니다 (위 과정은 중복을 피하기 위해 거친 단계입니다!)
chipo_one_prod=chipo_one_prod[chipo_one_prod.item_price>=10]


#아래 코드와 결과를 비교해보기
chipo_one_prod[chipo_one_prod.item_price>10].item_name.nunique()

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4602      1827         1                       Barbacoa Burrito
4607      1829         1                          Steak Burrito
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4602                      [Tomatillo Green Chili Salsa]        9.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...       11.75
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...        9.25

[1949 rows x 5 columns]

25

### Step 5. 특정 칼럼만 선택하여 불러오기
#### `item_name` 과 `item_price` 칼럼 가져오기

In [12]:
# 'item_name' and 'quantity' 칼럼의 중복을 제거하라!
chipo_filtered2 = chipo.drop_duplicates(['item_name', 'quantity'], ignore_index=True)
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

# `quantity`가 1인 row만 가져와서 저장
chipo_one_prod = chipo_filtered2[chipo_filtered2.quantity ==1]
print(chipo_one_prod)

# 'item_name' 과 'item_price' 만 가져오기!
price_per_item = chipo[['item_name','item_price']]


# item_price을 이용하여 데이터 정렬해보기!!(Hint. sort_values)
price_per_item.sort_values('item_price')

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                    Chips and Guacamole
10         6         1                   Chicken Crispy Tacos
11         6         1                     Chicken Soft Tacos
12         8         1                        Chicken Burrito
14        11         1                       Barbacoa Burrito
15        14         1                       Carnitas Burrito
16        14         1                            Canned Soda
17        17         1                          Carnitas Bowl
18        17         1                          Bottled Water
19        18         1  Chips and Tomatillo Green Chili Salsa
20        19         1                          Barbacoa Bowl
21        19         1                                  Chips
22        20         1                     Chicken Salad Bowl
23        25         1                             Steak Bowl
24        26         1                    Barbacoa Soft Tacos
25        26         1                         Veggie Burrito
26        28         1                            Veggie Bowl
27        40         1                     Steak Crispy Tacos
28        49         1    Chips and Tomatillo Red Chili Salsa
32        75         1                  Barbacoa Crispy Tacos
33        83         1                      Veggie Salad Bowl
34        85         1     Chips and Roasted Chili-Corn Salsa
37       102         1     Chips and Roasted Chili Corn Salsa
39       103         1                    Carnitas Soft Tacos
40       109         1                          Chicken Salad
41       114         1                      Canned Soft Drink
43       129         1                      6 Pack Soft Drink
44       130         1    Chips and Tomatillo-Red Chili Salsa
50       214         1                                Burrito
51       217         1                           Crispy Tacos
53       230         1                  Carnitas Crispy Tacos
55       250         1                       Steak Salad Bowl
56       276         1                            Steak Salad
57       279         1                                   Bowl
58       279         1      Chips and Mild Fresh Tomato Salsa
60       304         1                      Veggie Soft Tacos
65       468         1                    Carnitas Salad Bowl
66       501         1                    Barbacoa Salad Bowl
70       575         1                                  Salad
74       668         1                    Veggie Crispy Tacos
75       686         1                           Veggie Salad
95      1500         1                         Carnitas Salad

                                   choice_description  item_price
0                                                 NaN        2.39
1                                        [Clementine]        3.39
2                                             [Apple]        3.39
3                                                 NaN        2.39
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
6                                                 NaN        1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...        9.25
9                                                 NaN        4.45
10  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
11  [Roasted Chili Corn Salsa, [Rice, Black Beans,...        8.75
12  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...        8.49
14  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...        8.99
15  [[Tomatillo-Green Chili Salsa (Medium), Roaste...        8.99
16                                       [Dr. Pepper]        1.09
17  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...        8.99
18                                                NaN        1.09
19                                                NaN        2.95
20  [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.75
21                                                NaN        2.15
22  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75
23  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...        8.99
24  [Fresh Tomato Salsa, [Fajita Vegetables, Black...        9.25
25  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
26  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
27                   [Fresh Tomato Salsa, Sour Cream]        9.25
28                                                NaN        2.95
32  [Tomatillo Red Chili Salsa, [Rice, Black Beans...       11.75
33  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
34                                                NaN        2.39
37                                                NaN        2.95
39  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...        9.25
40  [Roasted Chili Corn Salsa (Medium), [Black Bea...       10.98
41                                             [Coke]        1.25
43                                           [Sprite]        6.49
44                                                NaN        2.39
50  [Adobo-Marinated and Grilled Chicken, Pinto Be...        7.40
51                [Adobo-Marinated and Grilled Steak]        7.40
53                         [Roasted Chili Corn Salsa]        9.25
55  [Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...       11.89
56  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...        8.99
57  [Adobo-Marinated and Grilled Steak, [Sour Crea...        7.40
58                                                NaN        3.00
60  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.25
65  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       11.89
66  [Fresh Tomato Salsa, [Rice, Fajita Vegetables,...       11.89
70  [Brown Rice, Adobo-Marinated and Grilled Chick...        7.40
74  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49
75  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...        8.49
95  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...        8.99

                         item_name  item_price
1140                 Bottled Water        1.09
821                    Canned Soda        1.09
3926                   Canned Soda        1.09
107                    Canned Soda        1.09
2562                   Canned Soda        1.09
...                            ...         ...
3601                Veggie Burrito       33.75
3602               Chicken Burrito       35.00
1254               Chicken Burrito       35.00
3480                 Carnitas Bowl       35.25
3598  Chips and Fresh Tomato Salsa       44.25

[4622 rows x 2 columns]

### Step 6. item의 이름으로 정렬하기

In [13]:
chipo.sort_values('item_name',ascending=False).head(10)
#chipo.item_name.sort_values()

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25

### Step 7. 값이 가장 비싼 item 데이터 가져오기

In [21]:
chipo.sort_values('item_price',ascending=False).head(1)
chipo.item_price.max()

44.25

### Step 8. `item_name`이 `Veggie Salad Bowl`인 row 개수 구하기

In [15]:
len(chipo[chipo.item_name =='Veggie Salad Bowl'])

18

### Step 9. `Canned Soda`를 한 번 이상 구매한 횟수 구하기

In [31]:
len(chipo[ (chipo.item_name =='Canned Soda') & (chipo.quantity>=1)])

104