# Ex1 - 데이터 가져오고 홑아보기

### Step 1.  데이터셋 다운로드.

1. [주소](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) 이동


2. `Ctrl + S` 로 다운로드


3. 파일 이름 뒤쪽의 .txt가 있다면 지우기


4. 파일 위치는 현재 파일(Exercises_with_solutions.ipynb)와 같은 곳으로

###  Step 2. 필요한 라이브러리 가져오기

In [2]:
import pandas as pd
import numpy as np

### Step 3. 'food' 변수에 tsv 파일 dataframe 형식으로 가져오기 (Hint, pandas 라이브러리의 read_csv 함수로 파일을 불러올 수 있다.)

####추가 힌트 : tsv 파일은 tap seperated value 의 약자로 `tab`으로 데이터가 구분되어 있다. 구분자를 뭘로 해야 할까?

In [3]:
food = pd.read_csv('./chipotle.tsv',sep='\t')

### Step 4. 파일 위 5개 불러오기 (Hint, head())

In [4]:
food.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. 데이터셋의 모양 확인해보기 (Hint, shape)

In [5]:
food.shape

(4622, 5)

### Step 6. 데이터셋의 칼럼(columns) 개수 가져와보기 (Hint, shape or 전체적인 정보를 불러오는 메서드 이용)

In [6]:
food.shape[1]

5

### Step 7. 데이터셋의 column들의 이름 가져오기

In [7]:
food.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. 105번째 로우의 이름 가져와보기

In [8]:
food['item_name'][104]
#food.loc[104]

'Veggie Burrito'

### Step 9. 105번째 칼럼의 데이터 타입 가져오기

In [9]:
type(food['item_name'][104])

str

### Step 10. 데이터셋에 인덱스의 범위 구해보기

In [10]:
#food.set_index('order_id',inplace=True)
food.index

RangeIndex(start=0, stop=4622, step=1)

### Step 11. 19번째 인덱스의 'item_name' 값 가져와보기 (Hint, product name은 8번째 칼럼)

In [11]:
food['item_name'][18]

'Canned Soda'